@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(9, 9, 11);
  color: rgb(244, 244, 245);
  height: 100%;
}